html{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, Arial, sans-serif;
    margin-top:0;
    width:100%;
}

h1,h2,h3,h4{
    /* centrira textove iz headinga */
    text-align: center;
    color: grey;
    margin: 0%;
}

header{
    background: #ffd800;
}
/* dopisati stil za main */

main{
    position: relative;
    margin: 0% auto; /* auto vrlo bitno staviti da bi uradio poravnjanje sa ove strane*/
    width: 65%;
}

section{
    /* dopuniti */
    position: relative;  // vrsi pozicioniranje section bloka i stavlja mu minimalnu visinu.
    display: block;
    min-height: 250px;
    background: #e8d273;
    padding: 1em 0;
    margin: 1em 0;
    width: 100%;
}

footer{
    line-height: 3em;
    font-size:1em;
    background: #FF0000;
    text-align: center;
}

/* class selektori */
.box{
    background: red;
    width: 200px;
    height: 150px;
    font-size: 1.5em;
    text-align: center;
}

.item{
    background: #8fd8e2;
    width: 125px;
    height: 65px;
    border: 1px solid yellow;
}

.bkg{
    background: url('../images/hex-bkg-pattern.png');
}

.bkg1{
    background: #cfcfcf url('../images/wave-bkg-pattern.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
}

.hcenter{
    margin: 0% auto;
}
.left{
    float: left;
    margin-left: 0.5em;
    margin-top: 0.5em;
}

.right{ // zasto ovde ne ide puno ime klase ?
    float: right;
    margin-right: 1em;
    margin-left: 1em;
    right: 0%;
    margin: 20px;
}

.centered{    // pozicionira element na sredinu i zvog transformise ga vizuelno da bude kako treba.
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottomright{  // pozicioniranje elementa na osnovu roditeljskog kontainera :) veoma korisno
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.v1{
 float: left;   
}
.v2{
    display: inline-block;
}

.bkg{   // podesavanje bold na css
    font-weight: bold;
    text-indent: 3em;
}

.bkg1{
    font-weight: bold;
    text-indent: 3em;
}